@charset "utf-8";
/* CSS Document */

body {
  background-color: #fff8ea;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  color: #444444;
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: #000;
}

a:link, a:visited {
  color: #444;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

.navbar-custom{
	background-color: #fff8ea;
  height: 100px;
	}

.navlinks {
  color: #000;
	font-weight: bold;
	margin-right: 2em;
	letter-spacing: 0.15em;
}

.nav-link {
  font-weight: bold;
  color: #444;
  transition: 0.3s;
}

.nav-link:hover {
  color: #000;
}

.home {
	background-image: url(images/child.jpg);
	background-repeat: no-repeat;
  background-position: fixed;
	background-size: cover;
  padding-top: 15em;
  padding-bottom: 10em;}

.home2 {
  background-image: url(images/child.jpg);
	background-repeat: no-repeat;
  background-position: fixed;
	background-size: cover;
  padding-top: 10em;
  padding-bottom: 5em;}

.home3 {
  background-image: url(images/parents.jpg);
	background-repeat: no-repeat;
  background-position: fixed;
	background-size: cover;
  padding-top: 10em;
  padding-bottom: 5em;}

.home4 {
  background-image: url(images/nanny.jpg);
	background-repeat: no-repeat;
  background-position: fixed;
	background-size: cover;
  padding-top: 10em;
  padding-bottom: 5em;}

.display-1 {
  color: #000;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;}

.display-2 {
  color: #000;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;}

#box {
    background-color: #fff;
    width: 500px;
    height: 450px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
  }

#box2 {
  background-color: #fff;
  width: 500px;
  height: 650px;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}

#box3 {
  background-color: #fff;
  width: 500px;
  height: 550px;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}

#box4 {
  background-color: #fff;
  width: 500px;
  height: auto;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}

.btn {
	background-color: #444;
  color: #ffffff;
	padding: 5px;
	width: 25%;
  font-size: 1em;
	align: center;
  border-radius: 20px;
  transition: 0.3s;
}

.btn:hover {
	background-color: #333;
	color: #fff;
	width: 25%;
}

.btn2 {
	background-color: #444;
  color: #fff;
	padding: 5px;
	width: 50%;
  font-size: 1.25em;
	align: center;
  border-radius: 15px;
  transition: 0.3s;
}

.btn2:hover {
	background-color: #333;
	color: #fff;
	width: 50%;
}

.btn3 {
	background-color: #fff;
  border: solid 1px #444;
  color: #444;
	padding-left: 15px;
  padding-right: 15px;
	width: auto;
  font-size: 1em;
	align: center;
  border-radius: 15px;
  margin-bottom: 10px;
}

.btn3:hover {
	background: #444;
  color: #fff;
  border-radius: 15px;
}

.btn4 {
	background-color: #fff;
  border: solid 1px #444;
  color: #444;
	width: 28px;
  font-size: 1em;
	align: center;
  border-radius: 100%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.btn4:hover {
	background: #444;
  color: #fff;
  border-radius: 15px;
}

.btn5 {
	background-color: #fff;
  border: solid 1px #444;
  color: #444;
	width: auto;
  font-size: 0.95em;
	align: center;
  border-radius: 15px;
  margin-bottom: 5px;
}

.btn5:hover {
	background: #444;
  color: #fff;
  border-radius: 15px;
}

input.form-control {
	border: 2px solid #444;
}

input.form-control2 {
	border: 1px solid #444;
  padding: 5px;
  width: 75px;
  margin-right: 10px;
  margin-left: 10px;
}

.text {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.text2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.counter {
  float: right;
  margin-top: 20px;
}

.counter2 {
  text-align: center;
}

.slidecontainer {
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #444;
  border-radius: 20px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #444;
  border-radius: 20px;
  cursor: pointer;
}
