body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #999;
}

#wrapper {
  margin: auto;
  width: 70%;
  margin-top: 10%;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.box {
  width: 50%;
  border: solid 2px #000;
}

.leftButton, .rightButton {
  width: 50px;
  margin: auto;
  padding: 10px;
  background-color: lightpink;
  border: 2px solid lightpink;
  -webkit-transition: all 0.1s linear;
  border-radius: 10px;
  color: #fff;
}

.rightButton:hover{
  background-color: #fff;
  border: 2px solid lightpink;
  color: lightpink;
}

.leftButton:hover{
  background-color: #fff;
  border: 2px solid lightpink;
  color: lightpink;
}

h1 {
  color: #000;
}
